<h1>Create a new flowering plant</h1>

<%= form_for @flowerpot do |f| %>
  <%= f.fields_for :plant_attributes do |plant_fields| %>
    
    <%= plant_fields.fields_for :flower_attributes do |flower_fields| %>
      <div>
        <%= flower_fields.label :color, "Flower color:" %><br>
        <%= flower_fields.text_field :color %>
      </div>
      <div>
        <%= flower_fields.label :smell, "Flower smell" %><br>
        <%= flower_fields.text_field :smell %>
      </div>
    <% end %>
    
    <div>
      <%= plant_fields.label :name, "Plant name:" %><br>
      <%= plant_fields.text_field :name %>
    </div>
  <% end %>
  
  <div>
    <%= f.label :material, "Pot material:" %><br>
    <%= f.text_field :material %>
  </div>
  <div>
    <%= f.label :cost, "Pot cost:" %><br>
    <%= f.number_field :cost, step:'any' %>
  </div>
  <%= f.submit "Create!" %>
<% end %>
      
<%= link_to "Back to list", flowerpots_path %>